.menuimg{
   width: 200px; 
   height: 200px;
}
.menuh1{
font-size: 25px;
}
.menuitem {
   
    background-color: rgb(224, 253, 253);
}
.menuprice {
    
    position: relative;
    bottom: 10px;
    background-color: rgb(194, 180, 206);
    text-align: center;
    color: rgb(24, 26, 24);
    font-size: 30px;
}

.menuhead {
    display: grid;
    grid-template-columns: auto auto auto;
    gap:10px;
}

@media screen and (max-width:900px){
    .menuhead {
        display: grid;
        grid-template-columns: auto auto ;
        gap:10px;
    }
}